#!/bin/bash
set -x

# Update and install boto3 library
#yum update -y
yum install -y awscli python36
pip-3.6 install boto3

# Setup boto3 configuration
# NOTE: Update your "key1" and "key2" values
mkdir /home/ec2-user/.aws
touch /home/ec2-user/.aws/config
echo "[default]" >> /home/ec2-user/.aws/config
echo "output = json" >> /home/ec2-user/.aws/config
echo "region = eu-central-1" >> /home/ec2-user/.aws/config
echo "[default]" >> /home/ec2-user/.aws/credentials
echo "aws_access_key_id = {{ ACCESS_KEY }}" >> /home/ec2-user/.aws/credentials
echo "aws_secret_access_key = {{ SECRET_KEY }}" >> /home/ec2-user/.aws/credentials

chown -R ec2-user:ec2-user /home/ec2-user/.aws

# Test boto3 through aws CLI
su ec2-user -c 'bash -c "aws ec2 describe-instances >> /home/ec2-user/describe-instances.log"'

# install nebo
su ec2-user -c "aws s3 cp s3://nhardi-mrkirm2-releases/latest.tar.bz2 /tmp/latest.tar.bz2"
su ec2-user -c "tar xjf /tmp/latest.tar.bz2 -C /tmp"
su ec2-user -c "pip-3.6 install --user /tmp/nebo"
su ec2-user -c "pip-3.6 install --user -r /tmp/nebo/requirements.txt"

su ec2-user -c "python3 -m nebo"

# get the server script and just start it with service_name script_name

# Get Pyhton script from S3 bucket
wget {{ SCRIPT_URL }} -O /home/ec2-user/{{ SCRIPT_NAME }}
chown ec2-user:ec2-user /home/ec2-user/{{ SCRIPT_NAME }}

# Run Python script
# TODO write to file
nohup su ec2-user -c "python /home/ec2-user/{{ SCRIPT_NAME }}"
